/*
#main-header:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] #main-header {display: block;}
* html #main-header {height: 1%;}
#main-header section.slider { overflow: hidden; }
*/

/* Essential slider functionality (never changes) */
	.plusslider {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.plusslider-container { position: relative; }
	.plusslider .child { float: left; }
	.plustype-fader .child { display: none; position: absolute; left: 0; top: 0; } /* only applies to fader type (not slider) */
	.plustype-fader .current { z-index: 5; } /* only applies to fader type (not slider) */
	.plusslider a img { border: none; } /* prevent blue borders in IE, which break "slider" type by altering the spacing */


/* No-javascript fallback (change "#slider1" selectors below to suit your html) */
	#lumo-slider > * { display: none; }
	#lumo-slider > *:first-child { display: block; }


/* Position the nav arrows & pagination controls */
	section.slider {
		position: relative; /* so child elements (nav arrows and pagination controls) can be positioned absolutely against this */

		display: inline-block; /* make wrapper div the size of its contents */
		zoom: 1; *display: inline; /* make inline-block work in IE6/7 */
	}

	.plusslider {
		/* create space for nav arrows */
		margin: 0;
	}

	.plusslider-arrows .prev {
		/* place "prev" arrow to the left of the slider */
		position: absolute;
		top: 55%;
		left: 4%;
		z-index: 20;
	}

	.plusslider-arrows .next {
		/* place "next" arrow to the right of the slider */
		position: absolute;
		top: 55%;
		right: 4%;
		z-index: 20;
	}

	.plusslider-pagination-wrapper {
		/* place pagination controls below the slider */
		position: absolute;
		bottom: 0;
		left: 50%; /* center horizontally (works with child's "position:relative; left:-50%;") */
	}

	.plusslider-pagination {
		/* center horizontally (works with parent's "position:absolute; left:50%;" -- see http://stackoverflow.com/a/1777282/477513 ) */
		position: relative;
		left: -50%;
	}

/* Hide slider arrows */
.plusslider-arrows-wrapper {
	display:none;
}

/* Style the nav arrows & pagination controls */
	.plusslider-arrows,
	.plusslider-pagination {
		/* reset default list styles */
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.plusslider-arrows li {
		text-indent: -9999px; /* hide the text */
		cursor: pointer;
	}

	.plusslider:hover .plusslider-arrows .prev {
		background: url(../images/icons-arrowleft.png) no-repeat 0 0;
		width: 45px;
		height: 45px;
	}

	.plusslider:hover .plusslider-arrows .next {
		background: url(../images/icons-arrowright.png) no-repeat 0 0;
		width: 45px;
		height: 45px;
	}

	.plusslider-pagination li {
		/* line these up in a row */
		float: left;
		margin-left: 5px;


		/* make them look like little buttons */
		text-indent: -9999px;
		background: url(images/pagination.png) no-repeat 0 0;
		width: 24px;
		height: 24px;
		cursor: pointer;


	}
	.plusslider-pagination li.current {
		background-position: 0 -26px;
	}

/**
 *	Setup Slide dimensions
 */
	section.slider{
		height: 50.6%;
	}

	.lumo-slide {
		width: 100%;
		position: relative;
	}

/**
 *	Position the Hero text
 */
	.lumo-slide div.hero-placeholder{
		padding-top: 0;
	}
	.lumo-slide div.hero {
		position: absolute;
		top: 0;
		left: 0;

		width: 90%;

		padding: 15% 0 0 44px;
	}

	.lumo-slide div.hero p {
		font-size: 28px;
		font-size: 1.75rem;
		line-height: 1;

		font-weight: lighter;
		letter-spacing: -1;

		width: 55%;
	}

	.lumo-slide div.hero h4 {
		font-size: 36px;
		font-size: 2.25rem;
		line-height: 1;

		font-weight: 800;
		color: #505050;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		width: 100%;

		-webkit-font-smoothing: antialiased;
	}

@media only screen and ( min-width: 1119px ) and ( max-width: 1120px ){
	.lumo-slide div.hero p {
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1;

		font-weight: lighter;
		letter-spacing: -1;

		width: 55%;
	}

	.lumo-slide div.hero h4 {
		font-size: 36px;
		font-size: 2.25rem;
		line-height: 1;

		font-weight: 800;
		color: #505050;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		width: 100%;

		-webkit-font-smoothing: antialiased;
	}
}
@media only screen and ( min-width: 768px ) and ( max-width: 960px ){

	.lumo-slide div.hero-placeholder{
		padding-top: 0;
	}

	#top-area {
		padding: 20px 0;
	}

	.lumo-slide div.hero {
		padding: 12% 20px;
		width: 90%;
	}

	.lumo-slide div.hero p{
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 1;
		width: 58%;
	}

	.lumo-slide div.hero h4 {
		font-size: 28px;
		font-size: 1.75rem;
		line-height: .75;

		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		letter-spacing: 0;
		padding-bottom: 3%;
	}

}

@media only screen and ( max-width: 767px ){

	.lumo-slide div.hero {
		padding: 15% 20px;
		width: 90%;
	}

	.lumo-slide div.hero{
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1;
	}

	.lumo-slide div.hero h4 {
		font-size: 32px;
		font-size: 2rem;
		line-height: .75;

		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		letter-spacing: 0;
		padding-bottom: 3%;
	}

}

@media only screen and ( min-width: 721px ) and ( max-width: 767px ) {

	.lumo-slide div.hero-placeholder{
		padding-top: 0;
	}

	.lumo-slide div.hero {
		padding: 10% 20px;
		width: 90%;
	}

	.lumo-slide div.hero p {
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 1;
		width: 50%;
	}

	.lumo-slide div.hero h4 {
		font-size: 26px;
		font-size: 1.625rem;
		line-height: .75;

		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		letter-spacing: 0;
		padding-bottom: 3%;
	}

}

@media only screen and ( min-width: 480px ) and ( max-width: 720px ) {

	.lumo-slide div.hero-placeholder{
		padding-top: 25%;
	}

	.lumo-slide div.hero {
		padding: 25% 20px;
		width: 90%;
	}

	.lumo-slide div.hero p {
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1;
	}

	.lumo-slide div.hero h4 {
		font-size: 32px;
		font-size: 2rem;
		line-height: .75;

		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		letter-spacing: 0;
		padding-bottom: 10%;
	}

	.lumo-slide a.big-button {
		padding: 4px 18px;
		font-size: 16px;
		font-size: 1rem;
		text-align: center;
		display: block;
		margin: 0 20%;
	}

}

@media only screen and ( max-width: 479px ) {

	.lumo-slide div.hero-placeholder{
		padding-top: 40%;
	}

	.lumo-slide div.hero {
		padding: 40% 20px;
		width: 90%;
	}

	.lumo-slide div.hero div {
		font-size: 18px;
		font-size: 1.25rem;
		line-height: 1.333;
	}

	.lumo-slide div.hero h4 {
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1;

		text-shadow: 0px 0px 0px rgba(0,0,0,0.7);
		letter-spacing: 0;
	}

	.lumo-slide a.big-button {
		padding: 4px 18px;
		font-size: 16px;
		font-size: 1rem;
		text-align: center;
		display: block;
		margin: 0 20%;
	}

}

@media only screen and ( max-width: 384px ) {

	.lumo-slide div.hero-placeholder{
		padding-top: 55%;
	}

	.lumo-slide div.hero {
		padding: 40% 20px;
		width: 90%;
	}

	body.et_fullwidth_view .lumo-slide .one_half,
	body.et_fullwidth_view .lumo-slide .one_third,
	body.et_fullwidth_view .lumo-slide .two_third,
	body.et_fullwidth_view .lumo-slide .one_fourth,
	body.et_fullwidth_view .lumo-slide .three_fourth {
		float:none; margin-right:4%; position:relative;
	}

	body.et_fullwidth_view .lumo-slide .one_half { width: 100%; }
	body.et_fullwidth_view .lumo-slide .one_third { width: 100%; }
	body.et_fullwidth_view .lumo-slide .two_third { width: 100%; }
	body.et_fullwidth_view .lumo-slide .one_fourth { width: 100%; }
	body.et_fullwidth_view .lumo-slide .three_fourth { width: 100%; }

	.arve-thumb-wrapper { width: 100% !important; }
}
