/*
#main-header:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] #main-header {display: block;}
* html #main-header {height: 1%;}
#main-header section.slider { overflow: hidden; }
*/

/* Essential slider functionality (never changes) */
	.plusslider {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.plusslider-container { position: relative; }
	.plusslider .child { float: left; }
	.plustype-fader .child { display: none; position: absolute; left: 0; top: 0; } /* only applies to fader type (not slider) */
	.plustype-fader .current { z-index: 5; } /* only applies to fader type (not slider) */
	.plusslider a img { border: none; } /* prevent blue borders in IE, which break "slider" type by altering the spacing */


/* No-javascript fallback (change "#slider1" selectors below to suit your html) */
	#slider1 > * { display: none; }
	#slider1 > *:first-child { display: block; }


/* Position the nav arrows & pagination controls */
	#slider1-wrapper {
		position: relative; /* so child elements (nav arrows and pagination controls) can be positioned absolutely against this */

		display: inline-block; /* make wrapper div the size of its contents */
		zoom: 1; *display: inline; /* make inline-block work in IE6/7 */
	}

	.plusslider {
		/* create space for nav arrows */
		margin: 0;
	}

	.plusslider-arrows .prev {
		/* place "prev" arrow to the left of the slider */
		position: absolute;
		top: 55%;
		left: 4%;
		z-index: 20;
	}

	.plusslider-arrows .next {
		/* place "next" arrow to the right of the slider */
		position: absolute;
		top: 55%;
		right: 4%;
		z-index: 20;
	}

	.plusslider-pagination-wrapper {
		/* place pagination controls below the slider */
		position: absolute;
		bottom: 0;
		left: 50%; /* center horizontally (works with child's "position:relative; left:-50%;") */
	}

	.plusslider-pagination {
		/* center horizontally (works with parent's "position:absolute; left:50%;" -- see http://stackoverflow.com/a/1777282/477513 ) */
		position: relative;
		left: -50%;
	}

/* Style the nav arrows & pagination controls */
	.plusslider-arrows,
	.plusslider-pagination {
		/* reset default list styles */
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.plusslider-arrows li {
		text-indent: -9999px; /* hide the text */
		cursor: pointer;
	}

	.plusslider:hover .plusslider-arrows .prev {
		background: url(../images/icons-arrowleft.png) no-repeat 0 0;
		width: 45px;
		height: 45px;
	}

	.plusslider:hover .plusslider-arrows .next {
		background: url(../images/icons-arrowright.png) no-repeat 0 0;
		width: 45px;
		height: 45px;
	}

	.plusslider-pagination li {
		/* line these up in a row */
		float: left;
		margin-left: 5px;


		/* make them look like little buttons */
		text-indent: -9999px;
		background: url(images/pagination.png) no-repeat 0 0;
		width: 24px;
		height: 24px;
		cursor: pointer;


	}
	.plusslider-pagination li.current {
		background-position: 0 -26px;
	}

/**
 *	Setup Slide dimensions
 */
	section.slider{
		height: 50.6%;
	}

	.lumo-slide {
		width: 100%;
		position: relative;
	}

/**
 *	Position the Hero text
 */
	.lumo-slide div.hero-placeholder{
		padding-top: 0;
	}
	.lumo-slide div.hero {
		position: absolute;
		top: 0;
		left: 0;

		width: 550px;

		padding: 15% 0 0 8%;
	}

	.lumo-slide .content-wrapper > * {
		width: 55%;
	}

	.lumo-slide div.hero h4 {
		font-size: 48px;
		font-weight: 800;
		color: #505050;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		width: 100%;
	}

	.lumo-slide div.hero h5 {
		font-size: 30px;
		font-weight: lighter;
	}

/*
@media only screen and (min-width: 961px ){

	.lumo-slide div.hero-placeholder{
		padding-top: 10%;
	}

	.lumo-slide div.hero {
		padding: 25% 10%;
		width: 550px;
	}

}
*/

@media only screen and ( min-width: 768px ) and ( max-width: 960px ){

	.lumo-slide div.hero-placeholder{
		padding-top: 0;
	}

	.lumo-slide div.hero {
		padding: 15% 10%;
		width: 55%;
	}

	.lumo-slide div.hero h4 {
		font-size: 32px;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		letter-spacing: 0;
		padding-bottom: 3%;
	}

	.lumo-slide div.hero h5 {
		font-size: 24px;
		font-weight: lighter;
	}

}

@media only screen and ( min-width: 721px ) and ( max-width: 767px ) {

	.lumo-slide div.hero-placeholder{
		padding-top: 0;
	}

	.lumo-slide div.hero {
		padding: 10% 10%;
		width: 55%;
	}

	.lumo-slide div.hero h4 {
		font-size: 32px;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		letter-spacing: 0;
		padding-bottom: 3%;
	}

	.lumo-slide div.hero h5 {
		font-size: 24px;
		font-weight: lighter;
	}

}

@media only screen and ( min-width: 480px ) and ( max-width: 720px ) {

	.lumo-slide div.hero-placeholder{
		padding-top: 25%;
	}

	.lumo-slide div.hero {
		padding: 25% 10%;
		width: 75%;
	}

	.lumo-slide div.hero h4 {
		font-size: 32px;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		letter-spacing: 0;
		padding-bottom: 10%;
	}

	.lumo-slide div.hero h5 {
		font-size: 24px;
		font-weight: lighter;
	}

}

@media only screen and ( max-width: 479px ) {

	.lumo-slide div.hero-placeholder{
		padding-top: 30%;
	}

	.lumo-slide div.hero {
		padding: 40% 10%;
		width: 75%;
	}

	.lumo-slide div.hero h4 {
		font-size: 24px;
		text-shadow: 0px 0px 0px rgba(0,0,0,0.7);
		letter-spacing: 0;
	}

	.lumo-slide div.hero h5 {
		font-size: 18px;
		font-weight: lighter;
	}

}
